@use './../colors.scss' as colors;

.tabs {
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 804px) {
        padding: 3rem;
    }
    
    .title {
        display: flex;
        justify-content: center;
        width: 100%;

        h2 {
            text-align: center;
            color: colors.$white;
        }
    }

    .tablist {
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        button {
            width: 100%;
            z-index: 2;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            cursor: pointer;
            font-size: medium;
            position: relative;
            top: 2px;

            &#tab-1 {
                @media (max-width: 400px) {
                    padding: 0;
                }
            }

            &[aria-selected="true"] {
                border-top-width: 7px;
                border-bottom-color: transparent;
            }

            span {
                box-sizing: border-box;
                padding: 2px 4px;
                border: 2px solid transparent;
                border-radius: 3px;
            }

            &:hover, &:focus {
                outline: none;

                span {
                    border: 2px solid var(--main-color);
                    border-radius: 3px;
                }
            }
        }
    }

    .isHidden {
        display: none;
    }

    .tabpanel {
        box-sizing: border-box;
        width: 100%;
        min-height: 50vh;
        border-top-left-radius: 0;

        h2 {
            text-align: center;
        }

        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;

            .experience, .projet {
                max-width: 350px;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h3, h4, p {
                    margin: 0;
                }

                svg, img {
                    width: 100px;
                    align-self: center;
                    margin: 2rem;
                    height: 100px;
                }

                img {
                    width: 150px;
                }

                h3 {
                    margin-bottom: .5rem;
                }

                .date {
                    font-style: italic;
                    color: colors.$grey;
                }

                .details {
                    margin-bottom: 1rem;
                    font-style: italic;
                    color: colors.$light_grey;
                }

                .desc {
                    margin-bottom: 1rem;
                }

                ul {
                    flex: 1;
                    list-style-type: disc;
                    padding-left: 1.5rem;

                    li {
                        margin-bottom: 0.5rem;
                    }
                }
                
                .tech-list {
                    flex: none;
                    list-style: none;
                    padding: 0 0 1rem 0;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;

                    li {
                        padding: .3rem .7rem;
                        border-radius: .5rem;
                        border-radius: 1rem;
                        border: 1px solid var(--border);
                    }
                }

                .project-learning {
                    flex: 1;
                }

                a {
                    text-decoration: none;
                    justify-content: space-between;
                    align-items: center;
                    min-width: 50%;
                    fill: colors.$white;

                    &:hover, &:focus {
                        color: var(--main-color);
                        cursor: pointer;
                        fill: var(--main-color);
                    }

                    svg {
                        margin: 0 0 0 0.5rem;
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}