@use './../colors.scss' as colors;

.tabs {
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 804px) {
        padding: 3rem;
    }
    
    .title {
        display: flex;
        justify-content: center;
        width: 100%;

        h2 {
            text-align: center;
            color: colors.$white;
        }
    }

    .tablist {
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        button {
            width: 100%;
            z-index: 2;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            cursor: pointer;
            font-size: medium;
            position: relative;
            top: 2px;

            &#tab-1 {
                @media (max-width: 400px) {
                    padding: 0;
                }
            }

            &[aria-selected="true"] {
                background-color: var(--border);
                color: colors.$black;
            }

            span {
                box-sizing: border-box;
                padding: 2px 4px;
                border: 2px solid transparent;
                border-radius: 3px;
            }

            &:hover, &:focus {
                outline: none;

                span {
                    border: 2px solid var(--main-color);
                    border-radius: 3px;
                }
            }
        }
    }

    .isHidden {
        display: none;
    }

    .tabpanel {
        box-sizing: border-box;
        width: 100%;
        min-height: 50vh;
        border-top-left-radius: 0;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}